{% extends "layouts/default.twig" %}
{% block content %}
	{% include 'blocks/block-main-top.twig' %}
	<div class="container ph1">
		<section>
			<h1 class="mt3">{{title}}</h1>
			<p>{{description}}</p>
			<p>
				<a href="https://github.com/lidiaCirrone/reimagining-sziget" target="_blank">github</a>
				-
				<a href="https://www.linkedin.com/in/lidiacirrone/?locale=en_US" target="_blank">linkedin</a>
			</p>
			<div class="spacer"></div>
			<a href="tickets.html" class="block button center mw50 m0a">Go to the<br>tickets page</a>
		</section>
	</div>
	{% include 'blocks/block-main-bottom.twig' %}
{% endblock %}
