<!doctype html>
<html lang="en">
	<head>
		{% include "../includes/head.twig" %}
	</head>
	<body>
		{% include "../includes/cart.twig" %}
		<div id="page">
			<div>
				<!-- HEADER -->
				{% include "../includes/header.twig" %}

				<!-- MAIN -->
				<main>
					{% block content %}{% endblock %}
				</main>
			</div>

			<!-- FOOTER -->
			{% include "../includes/footer.twig" %}

			<!-- SCRIPTS -->
			{% include "../includes/scripts.twig" %}
		</div>
	</body>
</html>
