<dialog id="cart-modal">
	<div class="flex row ais jcsb">
		<h2 id="cart-title" class="mt0">Cart</h2>
		<a href="#" class="icon close">
			<i class="fa-solid fa-xmark"></i>
		</a>
	</div>
	<div id="cart-content">
		<span id="cart-label" class="bold"></span>
		<span id="cart-price"></span>
		<form>
			<label for="first-name">First name</label><input type="text" name="first-name" id="first-name">
			<label for="last-name">Last name</label><input type="text" name="last-name" id="last-name">
			<label for="email">Email address</label><input type="text" name="email" id="email">
			<input type="submit" value="Go to checkout" class="button" id="cart-send">
		</form>
	</div>
</dialog>
