<footer class="ph1 mt3">
	<p class="small mb0">Evolventa font by <a href="https://evolventa.github.io/" target="_blank">Alex I. Kuznetsov</a></p>
	<p class="small mt0">Inspired by the <a href="https://szigetfestival.com/en/" target="_blank">Sziget Festival</a> website</p>
</footer>
